ul {
  border: 2px solid salmon;
}

li {
  border: 1px solid red;
}

.nav-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.nav-list li {
flex-shrink: 1;
}

test