.columns {
  display: flex;
  gap: 2rem;
  width: 90%;
  border: 10px solid firebrick;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: green;
}

.columns > * {
flex: 1 0 0;
}

@media (min-width: 500px) {
  .columns{
    flex-direction: row;
  }
}